Lesson 4/sensor-simulator-flow.json
[
    {
        "id": "a046408df479c6f0",
        "type": "tab",
        "label": "Sensor simulator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2fa26dfbc620408d",
        "type": "mqtt in",
        "z": "a046408df479c6f0",
        "name": "",
        "topic": "temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "ac1ecce3ed7d56bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "7590a916c431e2e7"
            ]
        ]
    },
    {
        "id": "e584cc30eaae6025",
        "type": "function",
        "z": "a046408df479c6f0",
        "name": "",
        "func": "start = msg.payload\nglobal.set(\"start\",start);\nmsg.payload.start = start;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "6d900f6a38c5c489"
            ]
        ]
    },
    {
        "id": "f964a7216e5b1b89",
        "type": "ui_text_input",
        "z": "a046408df479c6f0",
        "name": "",
        "label": "start temp",
        "tooltip": "",
        "group": "0bab8058733a7138",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "e584cc30eaae6025"
            ]
        ]
    },
    {
        "id": "0ef558a7fa72c22b",
        "type": "ui_text_input",
        "z": "a046408df479c6f0",
        "name": "",
        "label": "end temp",
        "tooltip": "",
        "group": "0bab8058733a7138",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "12479a62c4583b3b"
            ]
        ]
    },
    {
        "id": "8842aeb8125d1214",
        "type": "ui_button",
        "z": "a046408df479c6f0",
        "name": "",
        "group": "0bab8058733a7138",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "706c143e2a48ca49"
            ]
        ]
    },
    {
        "id": "9fd47afeb5be9726",
        "type": "ui_text_input",
        "z": "a046408df479c6f0",
        "name": "",
        "label": "time (in ms)",
        "tooltip": "",
        "group": "0bab8058733a7138",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "2dfd165ba6bb2a4c"
            ]
        ]
    },
    {
        "id": "12479a62c4583b3b",
        "type": "function",
        "z": "a046408df479c6f0",
        "name": "",
        "func": "end = msg.payload\nglobal.set(\"end\",end);\nmsg.payload.end = end;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 420,
        "wires": [
            [
                "61f81cf425957259"
            ]
        ]
    },
    {
        "id": "2dfd165ba6bb2a4c",
        "type": "function",
        "z": "a046408df479c6f0",
        "name": "",
        "func": "time = msg.payload\nglobal.set(\"time\",time);\nmsg.payload.time = time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 460,
        "wires": [
            [
                "1c20be7390cb3d1b"
            ]
        ]
    },
    {
        "id": "706c143e2a48ca49",
        "type": "function",
        "z": "a046408df479c6f0",
        "name": "",
        "func": "\n\nstart = global.get('start');\nif (typeof start==\"undefined\")\nstart=0;\n\nend = global.get(\"end\");\nif (typeof end==\"undefined\")\nend=0;\n\ntime = global.get(\"time\");\nif (typeof time==\"undefined\")\ntime=0;\n\njsonString = {\"start\":start, \"end\":end, \"time\": time}\nmsg.payload = jsonString;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "019ef35d780d242a"
            ]
        ]
    },
    {
        "id": "6d900f6a38c5c489",
        "type": "debug",
        "z": "a046408df479c6f0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "61f81cf425957259",
        "type": "debug",
        "z": "a046408df479c6f0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 420,
        "wires": []
    },
    {
        "id": "1c20be7390cb3d1b",
        "type": "debug",
        "z": "a046408df479c6f0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 460,
        "wires": []
    },
    {
        "id": "019ef35d780d242a",
        "type": "mqtt out",
        "z": "a046408df479c6f0",
        "name": "",
        "topic": "temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac1ecce3ed7d56bd",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "30b9721514056b25",
        "type": "function",
        "z": "a046408df479c6f0",
        "name": "",
        "func": "start = msg.payload.start;\nend = msg.payload.end;\ntime = msg.payload.time;\n\nmsg.delay = time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "31284e65991047f6",
                "ae7d13fa78f38092"
            ]
        ]
    },
    {
        "id": "31284e65991047f6",
        "type": "delay",
        "z": "a046408df479c6f0",
        "name": "",
        "pauseType": "delayv",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 160,
        "wires": [
            [
                "ac3570bd4c2b5a64"
            ]
        ]
    },
    {
        "id": "ac3570bd4c2b5a64",
        "type": "function",
        "z": "a046408df479c6f0",
        "name": "",
        "func": "start = msg.payload.start;\nend = msg.payload.end;\ntime = msg.payload.time;\n\n// startSave = global.get(\"startSave\");\n// if (typeof startSave==\"undefined\")\n// startSave=start;\n\n// if(startSave < end){\n//     startSave = startSave + 1;\n// }\n// else{\n//     startSave = startSave - 1;\n// }\n\n// global.set(\"startSave\",start);\n\n// msg.delay = time;\n// msg.payload.start = startSave;\n\nif(start < end){\n    start = start + 1;\n}\nelse{\n    start = start - 1;\n}\nmsg.payload.start = start;\nmsg.delay = time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 160,
        "wires": [
            [
                "7f7249974b50d521"
            ]
        ]
    },
    {
        "id": "69ef6f4135d23b5d",
        "type": "debug",
        "z": "a046408df479c6f0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 60,
        "wires": []
    },
    {
        "id": "7f7249974b50d521",
        "type": "switch",
        "z": "a046408df479c6f0",
        "name": "",
        "property": "payload.start",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "payload.end",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 120,
        "wires": [
            [
                "69ef6f4135d23b5d",
                "7d8b45095415c19d"
            ],
            [
                "88c9cc914f6d6609"
            ]
        ]
    },
    {
        "id": "88c9cc914f6d6609",
        "type": "debug",
        "z": "a046408df479c6f0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "ae7d13fa78f38092",
        "type": "debug",
        "z": "a046408df479c6f0",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "7590a916c431e2e7",
        "type": "json",
        "z": "a046408df479c6f0",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "30b9721514056b25"
            ]
        ]
    },
    {
        "id": "7d8b45095415c19d",
        "type": "function",
        "z": "a046408df479c6f0",
        "name": "",
        "func": "time = msg.payload.time;\nmsg.delay = time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 80,
        "wires": [
            [
                "31284e65991047f6"
            ]
        ]
    },
    {
        "id": "ac1ecce3ed7d56bd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0bab8058733a7138",
        "type": "ui_group",
        "name": "Default",
        "tab": "d04c133d5091c9f2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d04c133d5091c9f2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]